html, body, .grid-container { height: 95vh; margin: 0; }

.grid-container * { 
 /* border: 1px solid red; */
 position: relative;
}

.grid-container *:after { 
 /* content:attr(class); */
 position: absolute;
 top: 0;
 left: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 2fr 3fr 1fr;
  grid-template-areas: "top top top top" "left-side central_zone central_zone right-side" "bottom bottom bottom bottom";
}

.top { grid-area: top; }

.bottom { grid-area: bottom; }

.central_zone {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "message message message" 
                        "home_button home_button home_button";
  grid-area: central_zone;
}

.message { grid-area: message; }

.home_button { grid-area: home_button; }

.right-side { grid-area: right-side; }

.left-side { grid-area: left-side; }


#bg {
    /* background-image: url('../images/404_error.jpg'); */
    background-image: url('https://ik.imagekit.io/tlan2/trivia/404_error_awnVxJGLy.jpg');
    width: 100%;
    height: 100%; 
    background-size: 100% 100%;
    background-repeat: repeat;
    position: absolute;
    z-index: -1;
    left:0;
    top: 7%;
    bottom:0;
}  

#error_msg {
    font-size: large;
    color: white;
    width: 100%;
    min-width: 300px;
    margin-top: 10%;
    margin:auto;    
    text-align: center;
    /* border: 1px solid red; */
} 

#return_home {

    margin: 1% 20%;
    width:60%;
    height: 60%;
    /* border: 1px solid red; */
    border-radius: 12px;
    color: white;
    /* font-family: 'Pacifico'; */
    font-family: Montserrat;
    font-size: xx-large;
    font-weight: bold;
    text-shadow: -1px 0 black, 
                  0 2px black, 
                  2px 0 black, 
                  0 -1px black; 
    text-align: center;
    background-color: crimson;
    border: 2.5px solid white;
    padding: 3%;

} 
