body {
    background-color: white;
    color:black;
    /* font-family: 'Courier New', Courier, monospace; */
}

.header3 {
    margin-top: 7%;
    text-align: center;
    font-size: 5em;
}

.header4 {
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
    font-size: 2.5em;
    border: 1px solid red;
}


#game_setup_menu {
    width: 50%;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid red;
}


form {
    width: 50%;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid red;
}


label {
    border: 1px solid red;
}


input {
    margin-bottom: 3%;
    border: 1px solid red;
}


select {
    margin-bottom: 3%;
    border: 1px solid red;
}