#bg {
    /* background-image: url('../images/game_setup.jpg'); */
    background-image: url('https://ik.imagekit.io/tlan2/trivia/game_setup_e1FuJkU2r.jpg');
    width: 100%;
    height: 100%; 
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    left:0;
    top: 7%;
    bottom:0;
}  

h1 {
    color: white;
    font-family: Pacifico; 
    text-shadow: -1px 0 yellow, 0 1px yellow, 1px 0 yellow, 0 -1px yellow;
    margin: 4% auto 1%;
    text-align: center;
    /* border: 1px solid red; */
}

form {
    color: white;
    width: 35%;
    min-width: 300px;
    margin: auto;
    
    /* border: 1px solid red; */
}

#game_setup_menu {
    
    margin-top: 10%;
}

input {
    margin-bottom: 3%;
    /* border: 1px solid red; */
}


select {
    margin-bottom: 3%;
    /* border: 1px solid red; */
}

#btnstartgame {
    font-family: Montserrat;
    font-size: large;
    text-align: center;
    background-color:white;
    border: 3px groove cornflowerblue;
    border-radius: 12px;
    padding: 0.5% 2%;
}

#btnstartgame:hover {
    color: white;
    font-family: Montserrat;
    font-size: large;
    text-align: center;
    background-color:cornflowerblue;
    border: 3px groove white;
    border-radius: 12px;
    padding: 0.5% 2%;
}

/* .header4 {
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
    font-size: 2.5em;
    border: 1px solid red; 
} */
