#bg {
    background-image: url('/images/must_see.jpg');
    width: 100%;
    height: 100%; 
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    left:0;
    top: 50px;
    border: 1px solid red;
}  

.container-fluid {
    display: grid;
    width: 100%;
    /* margin-top: 25%; */
    margin-right: auto;
    margin-left: auto;
}

#contentrow {
    margin-top: 15%;
}

#leaderframe {
    color: whitesmoke;
    background-color: salmon;
    width: 100%;
}