body{
    /* background-color: rgb(98, 211, 76); */
    /* border: 1px solid red; */
    bottom:0;
}

#bg {
    background-image: url('../images/corner_questions1.jpg');
    width: 100%;
    height: 100%; 
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    left:0;
    top: 7%;
    bottom:0;
    /* border: 1px solid red; */
}

 #display_wrapper { 
    background-color: ghostwhite;
    color: black;
    border: 3px solid yellowgreen;
    border-radius: 12px; 
    background-color: none;
    /* box-shadow: -1px 1px 1px -1px yellow;  */
    padding: 1%;
    margin: 5% 25% 1% 25%;
    
}

/* h2 {
    color: white;
    text-align: center;
    font-family: Pacifico;
    margin-top: 0.5%;
} */

/* All background */
.row, .col-2, .col-3, .col-4,
.col-6, .col-8 {
    background-color: none;
    font-family: Montserrat;
    font-size: 1rem;
    text-align: center;
    
}

.sound_icon{
    color: white;
    max-height: 20px;
    max-width: 20px;
    /* border: 1px solid red; */
}

#start {
    border-radius: 12px;
    color: white;
    /* font-family: 'Pacifico'; */
    font-family: Montserrat;
    font-size: xx-large;
    font-weight: bold;
    text-shadow: -1px 0 black, 
                  0 2px black, 
                  2px 0 black, 
                  0 -1px black; 
    text-align: center;
    background-color: crimson;
    border: 2.5px solid white;
    border-radius: 7px;
    padding: 3%;
    margin: 14% 35% 0% 35%;
    width: 30%;
    /* border: 1px solid red; */
}

#display_question_number {
    background-color: ghostwhite;
    color: black;
    border: 1px solid black;
    text-align: center;
    /* border: 1px solid red; */
}

#current_question {
    background-color: ghostwhite;
    color: black;
    text-align: center;
    /* border: 1px solid red; */
}

#category {
    background-color: ghostwhite;
    color: black;
    /* border: 1px solid black; */
    text-align: left;
    display:inline;
    /* border: 1px solid red; */
}

#display_score {
    background-color: ghostwhite;
    color: black;
    border: 1px solid black;
    text-align: center;
    /* border: 1px solid red; */
}

#difficulty {
    background-color: ghostwhite;
    color: black;
    /* border: 1px solid black; */
    text-align: left;
    display:inline;
    /* border: 1px solid red; */
}

#timer {
    background-color: ghostwhite;
    color: black;
    font-size: x-large;
    /* border: 1px solid black; */
    text-align: center;
    /* border: 1px solid red; */
}

#display_question {
    background-color: ghostwhite;
    color: black;
    font-size: large;
    border: 1px solid black;
    text-align: center;
    /* border: 1px solid red; */
}

#display_choices {
    background-color: ghostwhite;
    color: black;
    border: 1px solid black;
    text-align: center;
    /* border: 1px solid red; */
}

#guess_buttons {
    background-color: ghostwhite;
    color: black;
    text-align: center;
    /* width: 2rem; */
    /* border: 1px solid red; */
}

#guess_A, #guess_B, #guess_C, #guess_D {
    background-color: ghostwhite;
    color: black;
    border: 1px solid black;
    font-size: large;
    text-align: center;
    width: 90%;
    padding: 10%;
    margin: 3% 5%;
    
    /* width: 4rem; */
    /* border: 1px solid red; */
}

#display_feedback {
    background-color: ghostwhite;
    color: black;
    text-align: center;
    /* border: 1px solid red; */
}

#next_question {
    border-radius: 12px;
    color: white;
    /* font-family: 'Pacifico'; */
    font-family: Montserrat;
    font-size: large;
    font-weight: bold;
    text-shadow: -1px 0 black, 
                  0 2px black, 
                  2px 0 black, 
                  0 -1px black; 
    text-align: center;
    background-color: crimson;
    border: 2.5px solid white;
    margin: 0 40%;
    padding: 0.5% 2%;
    width: 20%;
    /* border: 1px solid red; */
}







