#bg {
    background-image: url('../images/corner_questions.jpg');
    width: 100%;
    height: 100%; 
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    left:0;
    top: 5%;
    bottom:0;
    border: 1px solid red;
}

h1 { 
    color: white;
    font-family: Pacifico;
    border: 1px solid red;
}

.sound_icon{
    max-height: 20px;
    max-width: 20px;
    border: 1px solid red;
}

#start {
    border: 1px solid red;
}

#display_question_number {
    border: 1px solid red;
}

#current_question {
    border: 1px solid red;
}

#category {
    border: 1px solid red;
}

#difficulty {
    border: 1px solid red;
}

#display_question {
    border: 1px solid red;
}


